.home-view {
  padding: 1rem;
}

.services-home a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
} 

.project-item-ct {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-evenly;
}

.service-items-ct {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-evenly;
}



/* Media Queries */

@media (max-width: 500px) {
  .service-items-ct img {
    height: 200px;
    width: 200px;
  }
}

