.home-view {
  padding: 1rem;
  display: inline-grid;
}

.about-us-home {
  grid-column-start: 1;
  grid-column-end: 3;
}

.services-home {
  grid-column-start: 1;
  grid-column-end: 3;
}

.services-home li {
  display: inline-block;
  margin: .5rem;
}

.action-card {
  grid-column-start: 1;
  grid-column-end: 3;
}

.projects-home {
  grid-column-start: 1;
  grid-column-end: 3;
}

.projects-home img {
  padding-right: 1rem;
}

