.testimonials-section {
  display: flex;
  flex-direction: column;
}

.testimonials-preview {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}

.testimonial-card {
  border: 1px solid black;
  padding: 5px;
  row-gap: 5px;
}